header{
    background-color: #5663D3;
    height: 100px;
    width: 100%;
    max-width: 100%;
    color: white;
    font-size: 3rem;
}
.main-left{
    background-color: #7CA4E1;
    height: 800px;
}
.table{
    margin: auto;
}
.left-bg-color{
    background-color: #5c90dd;
}