header{
    background-color: #52A49A;
    height: 100px;
    width: 100%;
    max-width: 100%;
    color: white;
}
main{
    margin: auto;
}
.navigations{
    margin-bottom: 0;
}
.navigation{
    color: white;
    text-decoration: none;
    list-style: none;
}

.title{
    font-size: 1.5rem;
    /* border: 1px solid #80cbc4; */
    background-color: #80cbc4;
    color: white;
}
.table img{
    width: 100px;
    height: auto;
}

.table th{
    color: #626262;
}
.table td{
    color: #626262;
}
.form-group{
    margin: auto;
}
.form-check{
    margin: auto;
}
.privacy-policy{
    text-decoration: none;
}
.table{
    margin: auto;
}