header{
    background-color: #52A49A!important;
    height: 100px;
    width: 100%;
    max-width: 100%;
    color: white!important;
}
.navbar-brand{
    display: none;
}
.thanks-img{
    height: 300px;
    width: auto;
}
.thanks-container{
    text-align: center;
}

@media screen and (max-width:480px){
    header{
        height: 50px;
    }
    .thanks-img{
        height: 200px;
        width: auto;
    }
    .button{
        display: block;
    }
    .navbar{
        background-color: #52A49A;
    }
    .headerTitle{
        display: none;
    }
    .navbar-brand{
        display: block;
    }
}