header{
    background-color: #52A49A!important;
    height: 100px;
    width: 100%;
    max-width: 100%;
    color: white!important;
}
.navbar-brand{
    display: none;
}
main{
    background-color: #ebedf2;
}

.first-view{
     background-color: #ebedf2;
    /* object-fit: cover; */
    width: 100%;
    height: 400px;
    position: relative;
}
.moji{
    font-size: 40px;
}
.first-view > ul {
    padding: 5rem;
  }

.pc{
    display: none;
}
li {
    list-style-type: none;

} 
  dd {
    margin-left: 0;
  }
 
  .flow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-65%, -50%);
  }
  .flow > li {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
  }
  .flow > li .icon {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    color: #fff;
    background: rgb(107,144,219);
    margin: 0 auto 20px;
    display: block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
  }
  .flow > li .icon::before {
    content: "";
    border: solid transparent;
    border-width: 8px;
    border-top-color: rgb(107,144,219);
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .flow > li dl {
    padding: 30px 20px;
    margin: 0;
    border: 3px solid rgb(107,144,219);
    position: relative;
  }
  .flow > li:not(:last-child) dl::before {
    content: "";
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    border-top: 4px solid rgb(102,213,233);
    border-right: 4px solid rgb(102,213,233);
    position: absolute;
    top: calc(50% - 14px);
    left: 104%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .flow > li dl dt {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(107,144,219);
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-bottom: 1vh;
    text-align: center;
  } 

.first-view-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.search-title{
    background-color: #80cbc4;
    color: white;
}
.search{
    border-radius: 10px  10px 0 0 ;
    background-color: white;
    color: #626262;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}
.search-middle{
    /* border-radius: 10px; */
    background-color: white;
    color: #626262;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}
.search-bottom{
    border-radius:0 0 10px 10px;
    background-color: white;
    color: #626262;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}
.drop-down{
    background-color: #80cbc4;
    width: 150px;
    margin: auto;
    color: #626262;
    border-radius: 10px;
}
.main-container{
    display: flex;
}
.company-content-wrapper{
    background-color: white;
    align-items: center;
    border-radius: 10px;
}
.company-content{
    align-items: center;
}
.company-content-title{
    background-color: #80cbc4;
    color: white;
    text-align: center;
    /* width: 300px; */
}
.company-content-paragraph{
    color: #626262;
}
.logo-container{
    align-items: center;
}
.logo{
    width: 200px;
    height: 80px;
}
.checked-content{
    background-color: white;
    border-radius: 10px;
}
.checked-logo{
    width: 100px;
    height: auto;
}
.checked-paragraph{
    color: #626262;
}
.material-icons{
    font-size: 2rem!important;
}
.icons a{
    text-decoration: none;
    color: #626262;
}
.display-none{
    display: none;
}
.center-img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.right-img{
    height: 100px;
    width: 200px;
    object-fit: contain;
}
.mobile-top-content{
    display: none;
}
.button{
    display: none;
}
.title{
    font-size: 1.5rem;
    /* border: 1px solid #80cbc4; */
    background-color: #80cbc4;
    color: white;
}
.table img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.table th{
    color: #626262;
    font-weight: bold;
    /* background-color: #FFF; */
}
.table td{
    color: #626262;
    vertical-align: middle;
    /* background-color: #FFF; */
}
.form-group{
    margin: auto;
}
.form-check{
    margin: auto;
}
.privacy-policy{
    text-decoration: none;
}
.table{
    margin: auto;
    background-color: #FFF;
}
.submit-button{
    border: none;
    color: white;
}
.compare{
    margin: auto;
}
.unclick{
    pointer-events: none;
}

.checked-title{
    margin: 0px auto;
}

.checked-content{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}
@media screen and (max-width:480px){
    header{
        height: 50px;
    }
    .main-left-content{
        display: none;
    }
    .mobile-top-content{
        display: block;
    }
    .button{
        display: block;
    }
    .navbar{
        background-color: #52A49A;
    }
    .headerTitle{
        display: none;
    }
    .navbar-brand{
        display: block;
    }
    .center-img{
        width: 100px;
        height: 100px;
    }
    .main-right-content{
        display: none;
    }
    .compare-title{
        font-size: 1rem;
    }
    .table{
        width: 700px;
    }
    .table img{
        width: 100px;
        height: 100px;
    }
    .position-fixed{
        display: none;
    }

    .sp{
        display: none;
    }
    .first-view{
        height: auto;
    }
    .pc{
        display: block;
        max-width: 480px;
        height: auto;
        object-fit: contain;
    }

    .flow{
        width: 100%;
        font-size: 10%;
        /* font-size: 1rem; */
        /* margin-right: 4rem; */
        margin: 0;
        padding: 0;
    }


    .flow > li dl dt {
        font-size: 0.4rem;
        font-weight: 600;
        color: rgb(107,144,219);
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        margin-bottom: 1vh;
        /* margin-right: 2rem; */
        text-align: center;

      } 
}

.company-content-wrapper{
    background: white; 
    /* border-top: solid 5px #5d627b; */
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.22);
}

.label-industry{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-left:0.1rem ;
  font-size: 0.5rem;
  text-decoration: none;
  color: #FFF;
  background: #a09994;
  /* background: #fd9535;背景色 */
  /* border-bottom: solid 2px #d27d00;少し濃い目の色に */
  border-radius: 4px;/*角の丸み*/
  /* box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19); */
  /* font-weight: bold; */
}

.label-industry-comparison{
    /* position: relative; */
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-left:0.1rem ;
  font-size: 0.4rem;
  text-decoration: none;
  border:0.5px solid #626262;
  /* background: #f7f5f3;背景色 */
  /* border-bottom: solid 2px #d27d00;少し濃い目の色に */
  border-radius: 4px;/*角の丸み*/
  /* box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19); */
  /* font-weight: bold; */
}

.table >td{
    color: #FFF;
}



