.product-index {
    img.fly {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    img.fly:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }

    .modal-dialog .input-group {
        justify-content: flex-end;
        margin-right: 16px;
    }

    /* //モーダルウィンドウの縦表示位置を調整 */
    .modal-middle {
        margin: 5% auto;
    }
    /* //表示予定のテキストとボタンを中央揃え */
    .modal-img_footer {
        padding: .5em;
        text-align: center;
    }

    .hour, .minute, .seconds {
        font-size: 22px;
        padding: 3px;
        background-color: orange;
        border-radius: 5px;
        color: #fff;
        margin: 0 3px;
    }
}