.order-index {
    .link-area {
        color: $gray-900;

        &:hover {
            text-decoration: none;
        }
    }

    .block {
        padding: 0 20px 20px;
        margin-bottom: 40px;
        background-color: $gray-100;
        border: 1px solid $gray-200;
        border-radius: 3px;
    }
}