.order-thanks {
    .block {
        margin-bottom: 40px;
        margin-top: 65px;
        background-color: $gray-100;
        border: 1px solid $gray-300;
        border-radius: 3px;
        text-align: center;
        padding: 70px 0;
    }
}